@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.containerCourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}
.containerCourses .containerInfoCourses {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 4rem 0;
}
.containerCourses .containerInfoCourses .secondItemInfoCourses {
  display: flex;
  width: 60%;
  border-radius: 8px;
}
.containerCourses .containerInfoCourses .containerImgContainerInfoCourses {
  display: flex;
  width: 80%;
  background-image: url("../../assets/pexels-krakograff-textures-124842124-20560363.jpg");
  background-position: center;
  background-size: contain;
  border-radius: 8px;
  height: 200px;
}
.containerCourses .containerCoursesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containerCourses .containerCoursesList .containerListItems {
  width: 50%;
}
.containerCourses .containerCoursesList ul li {
  margin: 8px 10px;
  list-style: none;
  font-weight: bold;
}

.containerList {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.containerList .card {
  width: 8.75rem;
  height: 15rem;
  border-radius: 8px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}
.containerList .card:hover {
  border-color: rgb(134, 134, 134);
  box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
}
.containerList .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.containerList .card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}
.containerList .card-button {
  text-decoration: none;
  text-align: center;
  transform: translate(-50%, 125%);
  width: 70%;
  border-radius: 1rem;
  border: none;
  background-color: rgb(134, 134, 134);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.containerList .text-body {
  color: rgb(134, 134, 134);
}
.containerList .text-title {
  font-size: 1.5em;
  font-weight: bold;
}

.conteinerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteinerDetails .cardDetails {
  display: flex;
  width: 40%;
  border: 2px solid blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerPrincipalHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f9fa;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FirstContainerSonHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border-radius: 0.6rem;
  width: 80%;
  height: 7.5rem;
  background-image: url("../../assets/pexels-krakograff-textures-124842124-20560363.jpg");
  background-position: center;
  background-size: contain;
}

.SecondContainerSonHome {
  margin-top: 8rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.SecondContainerSonHome .containerStackSecondContainerSonHome {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.containerPrincipalThirdContainerSonHome {
  display: flex;
}

.containerPrincipalFourthContainerSonHome {
  display: flex;
  width: 94%;
  gap: 1rem;
  margin-top: 10rem;
  padding: 1rem;
}
.containerPrincipalFourthContainerSonHome .stackContainerPrincipalFourthContainerSonHome {
  display: flex;
  gap: 1rem;
}

@media (max-width: 425px) {
  .containerPrincipalFourthContainerSonHome {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .containerPrincipalFourthContainerSonHome .stackContainerPrincipalFourthContainerSonHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #031b4e !important;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.containerRouteCurriculums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Definición de la animación de opacidad */
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.containerTitleRouteCurriculums {
  background-image: url("../../assets/pexels-krakograff-textures-124842124-20560363.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
.containerTitleRouteCurriculums h2 {
  animation: fadeIn 0.3s ease-in-out;
}
.containerTitleRouteCurriculums p {
  animation: fadeIn 0.3s ease-in-out;
}

form {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form section label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.75rem;
}
form button {
  margin-top: 0.75rem;
}

.conteinerJobs {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerJobsList {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.containerJobsList .cardJobs {
  display: flex;
  border: 1px solid lightsalmon;
  flex-direction: column;
}

.firstContainerAddJobs {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.firstContainerAddJobs .containerAddJobs {
  display: flex;
  justify-content: center;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs .conteinerArticleObtenerFechaActual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs .containerInputAddJobs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs svg {
  width: 2.5rem;
  height: 2.5rem;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs form {
  border: none;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs form input {
  margin-left: 1.25rem;
  width: 160px;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs form .conteinerRubroSelectAddJobs {
  width: 100%;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs form .conteinerRenderInputField {
  display: flex;
  flex-direction: column;
  width: 36%;
}
.firstContainerAddJobs .containerAddJobs .containerFormAddJobs form .conteinerRubroSelectAddJobs {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 36%;
}
.firstContainerAddJobs .containerTemplate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  width: 100%;
}
.firstContainerAddJobs .containerTemplate .template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.firstContainerAddJobs .containerTemplate .template article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.firstContainerAddJobs .containerTemplate .template .containerButtonsTemplate {
  display: flex;
  gap: 0.75rem;
}

.conteinerFirstSectionJobs {
  width: 80%;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.containerInputAddJobs {
  margin-top: 1.5rem;
  width: 100%;
}

.conteinerDashboardWrapper {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.conteinerDashboardWrapper .navbarDashboardWrapper {
  margin-top: 1.25rem;
  border: 2px solid lightblue;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}
.conteinerDashboardWrapper .navbarDashboardWrapper a {
  text-decoration: none;
  color: black;
}
.conteinerDashboardWrapper .conteinerBodyDashboard {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteinerDashboardWrapper .conteinerBodyDashboard .conteinerLinksDashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  gap: 0.625rem;
}
.conteinerDashboardWrapper .conteinerBodyDashboard .conteinerLinksDashboard .conteinerTitleLinkDashboard {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.375rem;
}
.conteinerDashboardWrapper .conteinerBodyDashboard .conteinerLinksDashboard .conteinerUrlLinkDashboard {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.375rem;
}

.conteinerLoginForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.conteinerLoginForm .containerImgLoginRight {
  display: flex;
  width: 100%; /* Ajusta el ancho al 100% de su contenedor */
  height: 100vh;
}
.conteinerLoginForm .containerImgLoginLeft {
  display: flex;
  width: 100%; /* Ajusta el ancho al 100% de su contenedor */
  height: 100vh;
}

.BtnLogin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(163, 142, 255);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: relative;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.BtnLogin:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.BtnLogin:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

/* hover effect button's text */
.BtnLogin:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect*/
.BtnLogin:active {
  transform: translate(2px, 2px);
}

.conteinerLogin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.conteinerLogin .signinWithGoogle {
  margin-top: 3.75rem;
  float: right;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}
.conteinerLogin .signin:hover {
  transform: scale(1.025);
}
.conteinerLogin .signin:active {
  transform: scale(0.975);
}
.conteinerLogin button svg {
  height: 24px;
  width: auto;
}

.principalConteinerLanding {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  background-image: url(../../assets/pexels-krakograff-textures-124842124-20560363.jpg);
  background-position: center;
  background-size: cover;
}

.sectionOneLanding {
  display: flex;
  padding: 1rem 0.8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8%;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco semi-transparente */
}
.sectionOneLanding a {
  color: black;
  text-decoration: none;
}
.sectionOneLanding .articleTitleLanding {
  font-size: 22px;
  display: flex;
  color: black;
}
.sectionOneLanding .articleTitleLanding h1 {
  margin: 0;
}
.sectionOneLanding .articleParrafoLanding {
  font-size: clamp(14px, 2vw, 16px);
  display: flex;
}
.sectionOneLanding .articleButtonLoginLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}
.sectionOneLanding .articleButtonLoginLanding:hover {
  transform: scale(1.1);
}
.sectionOneLanding .articleButtonLoginLanding:not(:hover) {
  transition: transform 0.3s ease;
}
.sectionOneLanding .articleButtonLoginLanding a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionOneLanding .articleButtonLoginLanding a img {
  width: 100%;
}
.sectionOneLanding .articleButtonLinkToCurriculumLanding {
  display: flex;
}
.sectionOneLanding .articleButtonLinkToCurriculumLanding Button {
  padding: 0 0.375rem;
  font-size: 12px;
  width: 100%;
}

.containerPrincipalSectionSecondLanding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.containerPrincipalSectionSecondLanding section {
  margin: 0 0.4rem;
  font-size: clamp(11px, 2vw, 14px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.containerPrincipalSectionSecondLanding section article {
  display: flex;
}
.containerPrincipalSectionSecondLanding section article a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */