@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.principalConteinerLanding{
    animation: fadeIn 0.3s ease-in-out;
    height: 100vh;
background: none;    
display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    color: black;

}