.containerPrincipalSectionSecondLanding{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 96%;
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        article{
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}