// Importa la fuente
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Define una variable para la fuente
$fuente-proyecto: 'Roboto', sans-serif;

// Aplica la fuente al selector body
body {
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: $fuente-proyecto;
}
