.containerTitleRouteCurriculums{
    background-image: url('../../assets/pexels-krakograff-textures-124842124-20560363.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}