.containerJobsList{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    .cardJobs {
display: flex;
border: 1px solid lightsalmon;
flex-direction: column;
    }
    }