.conteinerPrincipalProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13rem;
    .sectionOneProfile{
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}