#root{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.FirstContainerSonHome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 0.6rem;
    width: 80%;
    height: 7.5rem;
    background-image: url('../../assets/pexels-krakograff-textures-124842124-20560363.jpg');
    background-position: center;
    background-size: contain;
}