.containerPrincipalFourthContainerSonHome{
    display: flex;
    width: 94%;
    gap: 1rem;
    margin-top: 10rem;
    padding: 0.25rem;
}

@media (max-width: 425px) {
    .containerPrincipalFourthContainerSonHome {
        display: flex;
        flex-direction: column;
        width: 90%;
        .stackContainerPrincipalFourthContainerSonHome{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 0.5rem;
        }
    }
}