.containerPrincipalHome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    .FirstContainerSonHome{
        display: flex;
        flex-direction: row;
        section{
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 380px;
            border: 2px solid red;
        }
    }
}