

.SecondContainerSonHome{
    border: 2px solid red;
    margin-top: 8rem;
    display: flex;
    width: 100%;

}
// .popup {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: white;
//     border: 1px solid #ccc;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     z-index: 9999;

//         &-content {
//         position: relative;
//         }

//         .popup-content{
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             section{
//                 article{
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                 }
//             }
//             button {
//                 display: flex;
//             }
//         }
// }
