.articleFirstEmpleado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
                // Aplicar estilos solo cuando la pantalla es menor que 768px
                @media (max-width: 500px) {
                    flex-direction: column;
                }
}