@keyframes fadeIn {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.sectionConteinerFormEmpleado {
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #edede9;

    .containerFormEmpleado {
        background-color: white;
        padding: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        width: 70%;
        border-radius: 1rem;
        button {
            margin-top: 1rem;
        }

        .firstSectionEmpleado {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 70%;
            gap: 2rem;
        }

        .prueba {
            display: flex;
            flex-direction: column;
        }
    }

}