.containerFormEmpleador{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    .containerCheckboxRoleEmpleador{
        display: flex;
flex-wrap: wrap;
    }
    .containerInputsEmpleador{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        gap: 12px;
        flex-wrap: wrap;
    }
    .articleFormEmpleador{
        display: flex;
    }
}