.containerCourses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    .containerInfoCourses{
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        flex-direction: column;
        margin: 2rem 0 4rem 0;
        .secondItemInfoCourses{
            display: flex;
            width: 60%;
            border-radius: 8px;
        }
        .containerImgContainerInfoCourses{
            display: flex;
            width: 80%;
            background-image: url('../../assets/pexels-krakograff-textures-124842124-20560363.jpg');
            background-position: center;
            background-size: contain;
            border-radius: 8px;
            height: 200px;
        }
    }

    .containerCoursesList {
        width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .containerListItems {
        width: 50%;
    }

    ul {
        li {
        margin: 8px 10px;
        list-style: none;
        font-weight: bold;
        }
    }
    }
}